<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<welcome-file-list>
		<welcome-file>inicio</welcome-file>
	</welcome-file-list>
	
	<!-- gestion errores -->
	<error-page>	
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	

	<jsp-config>
	
		<!-- definir donde se encunetra nuestra JSTL y la URI sirve para hacer la directiva en la JSP -->
		<taglib>
			<taglib-uri>https://formacion.ipartek.com/jsp/tlds/ejemplos</taglib-uri>
			<taglib-location>/WEB-INF/ejemplos.tld</taglib-location>
		</taglib>
		
	</jsp-config>

</web-app>